{{define "title"}}About{{end}}

{{define "content"}}
<div>
  <h1>About Page</h1>
  <p>
    Amet consectetur omnis et ut quasi! Doloribus totam expedita soluta magni
    dicta? Sit laboriosam tempore dolores quibusdam temporibus veritatis. Sequi
    obcaecati praesentium molestias quidem vel Tempore expedita aspernatur
    asperiores facere Lorem suscipit cupiditate ipsum excepturi vitae? Ratione
    vitae fugiat accusantium porro deleniti. Placeat quidem sit rerum dolorem
    voluptates Repudiandae illo nobis expedita natus rerum. Incidunt quia
    molestias possimus aut architecto Amet facere at officia voluptatem soluta
    Optio repellat iusto similique consectetur molestias Tempora iste animi nam
    laborum dolor! Aut labore asperiores corporis exercitationem nam architecto.
    Cum voluptatibus officia facere ducimus? Lorem dolore minima rem fuga ex
    Saepe ut possimus ducimus aliquid nesciunt. Quam sequi saepe impedit sunt
    dolor a, facilis Laudantium non asperiores nisi illum provident! Qui
    voluptate neque voluptatem
  </p>
</div>
{{end}}
