{{define "title"}}Home{{end}}

{{define "content"}} 
<div>
  <h1>Hello World!</h1>
  <p>
  <div>Consectetur laborum incidunt atque et quidem. Officiis nobis architecto esse atque rerum aut excepturi. Natus
    molestiae illo nostrum sed iste? Nihil veritatis officia doloribus odio facere Repudiandae optio repellendus debitis
  </div>
  <div>Adipisicing quasi rerum esse et magnam Quod odit omnis fuga omnis illo. Fuga esse quam magnam vitae dignissimos
    recusandae. Consequatur explicabo eaque quod quasi tempore voluptas numquam Voluptatem porro pariatur?</div>
  <div>Lorem sed odio porro amet aliquid. Optio eum corrupti alias itaque debitis? Iure ducimus officiis sit deleniti
    beatae Exercitationem enim quasi eligendi excepturi quas, ex harum deleniti. Inventore quaerat qui.</div>
  </p>
</div>
{{end}}
