package pages

templ About() {
  @layout("About") {
    <section>
      <h1>About Tiny Stack</h1>
      <p>
        Tiny Stack is a simple web application that demonstrates the use of the Tiny Stack framework.
      </p>
    </section>
  }
}
