package main

templ Home() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="description" content="A go project webapp"/>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.7/dist/cdn.min.js"></script>
			<script></script>
			<title>MementoMori11723</title>
		</head>
		<body>
			<h1>Welcome to my Home page</h1>
			<a href="/about">About</a>
		</body>
	</html>
}
