{{define "content"}}
<h1>About</h1>
<p>
  Elit molestias possimus hic sed esse Ipsum laudantium accusantium suscipit
  aliquam commodi vel cupiditate! Est rem veritatis tempora eveniet ea. Dolores
  dolores aperiam quibusdam fuga quia? Quam ratione sequi libero?Dolor
  consectetur expedita distinctio nulla corrupti Similique aut inventore sit
  blanditiis soluta laborum. Aperiam ab eaque architecto quia molestias sit
  minima? Voluptates nesciunt dolores quo eius veniam, molestias. Modi
  aspernaturIpsum omnis doloremque delectus minima eveniet, quo Autem sit
  quaerat quam consequatur sit odio, obcaecati Accusamus qui facere magni natus
  omnis. Maxime facilis cum ipsam vero deserunt cum. Est consequuntur?
</p>
{{template "contact" .}}
{{end}}
