<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link id="favicon" rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <script src="/static/js/index.js"></script>
  <title>{{template "title" .}}</title>
</head>

<body>
  <header>{{block "header" .}}{{end}}</header>
  <main>{{block "content" .}}{{end}}</main>
  <footer>{{block "footer" .}}{{end}}</footer>
</body>

</html>
