<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="app" description="a simple app" />
    <meta name="author" content="John Doe" />
    <meta name="keywords" content="app, test, simple" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
    <script src="/assets/index.js" type="text/javascript"></script>
    <title>Test App</title>
  </head>

  <body>
    <main>{{template "content" .}}</main>
  </body>
</html>
